.p_midt {
  text-align: center;
}

.bestiltid_index {
  color: rgb(0, 0, 0);
  background: #f0e9dc;
  text-decoration: none;
  transition: all 0.55s ease;
  padding: 1% 1% 1% 1%;
  filter: drop-shadow(4px 2px 5px #00000069);
  font-family: "PT Sans", sans-serif;
  text-align: center;
}

.flex p {
}

@media (min-width: 700px) {
}
