/******* overskrift og p tekst index der skal stå i midten******/

.index_overskrift {
  margin: 4% 0 3% 5%;
}
.p_midt {
  margin: 3% 5% 5% 5%;
  max-width: 65ch;
  text-align: center;
}
.studierabat_h2 {
  text-align: center;
}

/**** knap *****/

.bestiltid_index {
  color: rgb(0, 0, 0);
  background: #f0e9dc;
  text-decoration: none;
  transition: all 0.55s ease;
  padding: 1rem 1rem 1rem 1rem;
  filter: drop-shadow(4px 2px 5px #00000069);
  font-family: "bodoni", sans-serif;
  text-align: center;
  font-size: 125%;
  margin-left: 32%;
}

.bestiltid_index2 {
  color: rgb(0, 0, 0);
  background: #f0e9dc;
  text-decoration: none;
  transition: all 0.55s ease;
  padding: 1rem 1rem 1rem 1rem;
  filter: drop-shadow(4px 2px 5px #00000069);
  font-family: "bodoni", sans-serif;
  text-align: center;
  font-size: 125%;
  margin-left: 36%;
}

.boks_grid {
  display: grid;
  grid-template-columns: 1;
}
.boks {
  aspect-ratio: 40/38;
  width: 80%;
  grid-row: 1;
  grid-column: 1;
  background-color: #d2ddc5;
  filter: drop-shadow(4px 2px 5px #00000069);

  margin-left: 8%;
  margin-top: 8%;
}

.img_index {
  width: 80%;
  height: auto;
  object-fit: cover;
  grid-row: 1;
  grid-column: 1;
  z-index: 10;
}
.grid_1_index {
  margin: 0 0 0 5%;
}
.studierabat {
  margin: 20% 0 10% 5%;
}
.index_grid_indhold1 {
  margin: 18% 0 3% 0;
  text-align: center;
}
.index_grid_indhold2 {
  margin: 0% 0 10% 0;
  text-align: center;
}
/******** billeder på index med aflang grøn box *******/

.green {
  aspect-ratio: 151/16;
  grid-row: 1;
  grid-column: 1;
  background-color: #d2ddc5;
  filter: drop-shadow(0px 2px 5px #00000069);
  width: 100%;
}
.produkt_grid {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  margin: 2rem 0 5rem 0;
}
.produkter {
  width: 30%;
  aspect-ratio: 1/1;
  object-fit: cover;
  grid-row: 1;
  grid-column: 1;
  z-index: 10;
}
.flex p {
  background-color: rgba(240, 233, 222, 0.6);
}
.flex {
  display: flex;
  grid-row: 1;
  grid-column: 1;
  z-index: 10;
  place-items: center;
  justify-content: space-around;
}

.flex div {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
}

.flex div img {
  grid-row: 1;
  grid-column: 1;
  aspect-ratio: 1/1;
  width: 60%;
}

.flex div p {
  grid-row: 1;
  grid-column: 1;
  z-index: 10;
  height: 20%;
  width: 60%;
  text-align: center;
  font-size: 1rem;
}

.h1index {
  font-family: "bodoni", sans-serif;
  text-align: center;
  font-size: 2rem;
  padding-top: 4rem;
  margin-bottom: 3rem;
  border-top: 1px solid black;
}

.line {
  border-bottom: 1px solid black;
  margin-bottom: 3rem;
}

@media (min-width: 700px) {
  .grid_1_index {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    padding: 1% 4% 2% 4%;
  }
  .p_midt {
    text-align: center;
    margin: 1% auto 3% auto;
  }
  .studierabat {
    margin: 5% 0 7% 0;
    text-align: center;
  }
  .index_overskrift {
    margin: 4% 0 0% 5%;
  }
  .video {
    width: 100vw;
    position: relative;
    left: 0%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }

  .bestiltid_index {
    color: rgb(0, 0, 0);
    background: #f0e9dc;
    text-decoration: none;
    transition: all 0.55s ease;
    padding: 1rem 1rem 1rem 1rem;
    filter: drop-shadow(4px 2px 5px #00000069);
    font-family: "bodoni", sans-serif;
    text-align: center;
    font-size: 125%;
    margin-left: 32%;
  }

  .bestiltid_index2 {
    color: rgb(0, 0, 0);
    background: #f0e9dc;
    text-decoration: none;
    transition: all 0.55s ease;
    padding: 1rem 1rem 1rem 1rem;
    filter: drop-shadow(4px 2px 5px #00000069);
    font-family: "bodoni", sans-serif;
    text-align: center;
    font-size: 125%;
    margin-left: 0;
  }

  .flex div {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
  }

  .flex div img {
    grid-row: 1;
    grid-column: 1;
    aspect-ratio: 1/1;
    width: 60%;
  }

  .flex div p {
    grid-row: 1;
    grid-column: 1;
    z-index: 10;
    height: 15%;
    width: 60%;
    text-align: center;
    font-size: 2rem;
  }

  .line {
    border-bottom: 1px solid black;
    margin-bottom: 2rem;
  }
}
